@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #1D3440;
  font-family: 'Lato', sans-serif; 
}
.select .optional
{ width: 55px;
}

.panel .panel-footer {
  font-size: 11px;
}
.btn-primary
{background-color: #84C1C6;
  border-color: white;
}