@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #1D3440;
  font-family: 'Lato', sans-serif; 
}
.select .optional
{ width: 48px;
}

.panel .panel-footer {
  font-size: 11px;
}
